<app-page-header
  title="Lista de contatos"
  subtitle="Gerencie os contatos obtidos em seu site"
/>
<div class="list">
  <div class="item">
    <div>
      <a href="#" class="title"><span></span>Leslie Alexander</a>
      <p>leslie.alexander&#64;example.com</p>
    </div>
    <div>
      <div>
        <p>Exemplo</p>
        <p>Exemplo</p>
      </div>
      <app-icon icon="arrows-right-arrow" />
    </div>
  </div>
  <div class="item">
    <div>
      <a href="#" class="title"><span></span>Leslie Alexander</a>
      <p>leslie.alexander&#64;example.com</p>
    </div>
    <div>
      <div>
        <p>Exemplo</p>
        <p>Exemplo</p>
      </div>
      <app-icon icon="arrows-right-arrow" />
    </div>
  </div>
</div>
