<label class="relative inline-flex items-center cursor-pointer">
  <input type="checkbox" (click)="toggleTheme()" class="sr-only peer" />
  <div
    class="w-14 h-7 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 dark:border-gray-600 peer-checked:bg-blue-600"
  ></div>
  <span
    class="peer-checked:translate-x-full rtl:peer-checked:-translate-x-full peer-checked:border-white absolute top-0.5 start-[4px] bg-white border-gray-300 border rounded-full h-6 w-6 transition-all text-black flex items-center justify-center"
    ><app-icon [icon]="themeIcon()" class="h-full w-full"
  /></span>
</label>
