<nav>
  <div>
    <a routerLink="/app">logo</a>
    <div class="toggle">
      <button><app-icon icon="content-bars" size="lg" /></button>
    </div>
    <div class="menu">
      <a routerLink="dashboard" routerLinkActive="active"
        ><app-icon icon="user-interface-dashboard" /> Dashboard</a
      >
      <a routerLink="messages" routerLinkActive="active"
        ><app-icon icon="communication-receive-mail" /> Mensagens</a
      >
      <a routerLink="contact-list" routerLinkActive="active"
        ><app-icon icon="users-account" /> Lista de Contatos</a
      >
    </div>
  </div>
</nav>
